
@import url('https://fonts.googleapis.com/css?family='Helvetica'&display=swap');

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: grey;
}

header {
    position: relative;
    padding-bottom: 100px;
}


h1 {
    color: white;
    position: absolute;
    margin: 40% 32% 40% 32%;
    text-align: center;
    font-size: 7em;
}

header > img {
    width: 100%;
    height: 70%;
}

section {
    display:block;
    margin: 0 10% 0 10%;
}

#intro {
    font-size: 2em;
    margin: 0 10% 50px 10%;
    text-align: center;
}

.info {
    display: block;
    margin: 50px auto 50px auto;
}

.border {
    border-bottom: 2px solid grey;
    border-width: 70%;
}

h3 {
    font-size: 2em;
    color: black;
}

#list1 {
    list-style: none;
    font-size: 1.5em;
}

#list2 {
    font-size: 1.5em;
    text-align: justify;
}